<li class="bg-zinc-900 rounded-lg mx-auto shadow-xl w-full flex items-center gap-1 pr-4">
  <%= link_to board_path(id: @board.id), class: "p-4 grow" do %>
    <span class="overflow-hidden">
      <%= @board.title %>
    </span>
  <% end %>
  <%= link_to "edit", edit_board_path(@board), class: "material-symbols-outlined ml-auto text-yellow-500 m-1", data: { turbo_frame: :modal } %>
  <%# link_to "delete", delete_confirmation_board_path(@board), class: "material-symbols-outlined ml-auto text-red-500", data: { turbo_frame: :modal } %>
</li>
