<li class="flex items-center gap-1">
  <%= link_to board_path(id: @board.id), class: "bg-zinc-900 rounded-lg p-4 mx-auto shadow-xl w-full flex items-center" do %>
    <span class="overflow-hidden">
      <%= @board.title %>
    </span>
  <% end %>
  <%= link_to "delete", delete_confirmation_board_path(@board), class: "material-symbols-outlined ml-auto text-red-500", data: { turbo_frame: :modal } %>
</li>
