<% content_for :header do %>
  <span class="text-xl font-bold">TaskThing.io</span>
  <%= link_to "Login", new_session_path, class: "rounded-full py-2 px-5 border border-violet-700 ml-auto text-white inline-block font-medium cursor-pointer" %>
<% end %>

<div class="bg-zinc-900 rounded-lg w-full p-4 shadow-xl mt-28">
  <h1 class="text-4xl font-bold">
    Simple, Slick, Open-source Kanban...
  </h1>
  <%= link_to "Sign up", new_user_path, class: "rounded-xl py-3 px-5 bg-violet-700 text-white inline-block font-medium cursor-pointer mt-12" %>
</div>
