<div class="bg-zinc-900 rounded-lg w-full p-4 shadow-xl mt-28">
  <h1 class="text-4xl font-bold leading-normal">
    Simple, Slick, Open-source Kanban.
  </h1>
  <div class="flex">
    <%= link_to "Sign up", new_user_path, class: "rounded-xl py-3 px-5 bg-violet-700 text-white inline-block font-medium cursor-pointer mt-12 ml-auto" %>
  </div>
</div>
