<div class="bg-zinc-900 rounded-lg max-w-96 p-4 mx-auto relative shadow-2xl mt-28 z-10">
  <h1 class="text-4xl font-bold leading-normal">
    Slick, Simple, Open-source Kanban.
  </h1>
  <%= link_to "Sign up", new_user_path, class: "button-filled absolute right-4 -bottom-6 animate-bounce" %>
</div>

<% content_for :footer do %>
  <span class="mx-auto text-sm opacity-50 mb-3">
    made with ☕ by maz
  </span>
<% end %>
