<br>
  Ahoy!<br><br>
  You've been invited to collaborate on "<%= @invite.board.title %>" by <%= @invite.user.email_address %>.<br><br>
  <%= link_to "Click here to accept/reject", invite_url(@invite.signed_id) %>.
</p>
