<turbo-frame id="board" class="flex flex-col sm:flex-row gap-2 h-full overflow-x-auto pb-2 sm:pb-4" data-controller="board">
  <span id="version" hidden><%= board.version %></span>
  <%= render(board.lanes) %>
</turbo-frame>
