<% if @boards.any? %>
  <%= render partial: :board, collection: @boards %>
<% else %>
  <div class="content-center-full opacity-30">
    Add a board to start
  </div>
<% end %>
<%= render LinkToModalComponent.new(path: new_board_path, classes: "button-filled absolute bottom-0 right-0 m-4").with_content("+") %>
