<% if @boards.any? %>
  <ul class="flex flex-col gap-2 mb-20">
    <%= render(BoardPreviewComponent.with_collection(@boards)) %>
  </ul>
<% else %>
  <div class="content-center-full opacity-30">
    Add a board to start
  </div>
<% end %>
<%= render LinkToModalComponent.new(path: new_board_path, classes: "button-filled fixed sm:absolute bottom-0 right-0 m-4 shadow").with_content("+") %>
